.fieldVal {
    color: rgb(99,99,102);
    display: inline-block;
    padding-left: 5px;
    font-size: 18px;
    width: 30%;
    
}

.marsIcon {
    text-align: center; 
    display: inline-block;
    padding: 0%;
    margin: 0%;

}

.mars {
    height: 160px;
    width: 160px;
    padding: 0%;
    margin: 0%;
}

.mars:hover {
    cursor: pointer;
}

.preview {
    height: 60px;
    width:60px;
    padding: 0%;
    margin: 0%;
}

.preview:hover {
    cursor: pointer;
}

.padRight {
    padding-right: 103px; 
    display: inline-block;
}

.greyListItem {
    color: rgb(99,99,102)
}


.fieldTitle {
    max-width: 0px;
    display: inline-block;
    font-size: 18px;
    background-color: inherit;
    padding-left: 225px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.field_wrapper {
    border-style: solid;
    margin: 1px;
}




.fileReader {
    position: fixed;
    top: 5%;
    left: 40%;
    padding-bottom: 100px;
}


.fileReader1 {
    display: none;
    position: fixed;
    top: 5%;
    left: 40%;
    padding-bottom: 100px;
}

.arrow{
    font-size: 3em;
}

.arrowInfo{
    font-size: 18px;
}

.fa{
    position: relative;
    z-index: 15;
    top: 50%;
}
.fa-angle-double-right{
    position: relative;
    z-index: 15;
    top: 50%;
}


.dropDown {
    font-size: 15px;
    min-height: auto !important;
    height: 1em;
    display: inline-block;
    width: 200px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.dropDownInfo {
    font-size: 18px;
    display: inline-block;
    width: 200px;
    padding-right: 50px;
}

.dropDown1 {
    font-size: 15px;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: rgb(224,225,226);
    border-width: 1px;
    border-radius: 5px;

}


.dropDown2 {
    font-size: 15px;
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    float: right;

}

.dropDownNoData {
    font-size: 11px;
    display: inline-block;
    width: 200px;
    padding-right: 50px;
    padding-top: 15px;
    text-align: center;
}


.dropDownWidget {
    display: inline-block;
    padding-right: 55px;
    padding-left: 0px;
    padding-top: 7px;
    
}


.mappedValue {
    padding-top: .5em;
    display: inline-block;
    padding-right: 10px;
    color: rgb(99,99,102);
    font-size: 18px;

}

.ui {
    padding: 0px;
    width: 100%;
    display: inline-block;
}
.label {
    width: 100%;
    margin: 0px;
    display: inline-block;
}

.uiInfo {
    background-color: rgb(224,225,226);
    padding: 0px;
    width: 100%;
    display: inline-block;
    border-top: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;

}
.labelInfo {
    background-color: rgb(224,225,226);
    width: 100%;
    margin: 0px;
    display: inline-block;
    border-top: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}

.checkBox {
    display: inline-block;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 10px;
}

.checkBoxInfo {
    display: inline-block;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 10px;
    font-size: 18px;
}

.checkBox > .innerCheckbox {
    padding: 0px;
    margin: 0px;
    height: 0px;
}


.field_container1 {
    border-style: solid;
    border-width: .5px;
    background-color: rgb(169,233,205);

}


.field_container2 {
    border-style: solid;
    border-width: .5px;
}

